*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	color: black;
}

body {
	background-color: #eef1f6;
}

/*nav,ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 8px 2px -2px rgba(0,0,0,.2);
}

li {
  float: left;
}

li a {
    color: #2f61a2;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

.nav_back {
	height: 10%;
	width: 100%;
 	/*margin: 0;
 	padding: 0;*/
	overflow: hidden;
	background-color: #ffff;
	position: fixed;
	top: 0;
	box-shadow: 0 8px 2px -2px rgba(0,0,0,.2);
}

.navbar {
	width: 50%;
	margin-left: 25%;
	float: center;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	overflow: hidden;
	height: 100%;
	/*padding-top: 2em;*/

}

.nav_elem, a {
	display: block;
	color: #2f61a2;
	text-align:center;
	text-decoration: none;
	font-size: 23px;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	/*(margin-top: 2%;*/
	/*padding:0.5em 1em;*/

}

/*a {
	padding: 14px 16px;
	color: #2f61a2;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}*/

.nav_elem a:hover {
  color: gray;
  text-decoration: none;
}

#active {
	background-color: lightblue;
}

.projects {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	float: left;
	width: 40%;
}

.project_border_1st {
	border: 5px outset blue;
	background-color: lightblue;
	text-align: left;
	width: 100%; /* 100* 40*/
	margin-bottom: 2.5%;
}
.project_border{
	border: 5px outset blue;
	background-color: lightblue;
	text-align: left;
	width: 100%; /* 100* 40*/
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.project_header {
	margin-left: 2%;
	font-size: 30px;
	color: black;
}

.project_descrip {
	margin-left: 10%;
	font-size: 16px;
	color: gray;
}

.categories {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 20%;
	float: right;
	width: 25%;
	border: 5px outset black;
	border-radius: 10px;
	background-color: lightblue;

}

.category {
	width: 30%;
	margin-left: 15%;
	margin-bottom: 5%;
	margin-top: 5%;
	padding-bottom: 30%;
}

.category_text_border {
	float: right;
	width: 30%;
}

.category_text {
	font-size: 25px;
	color: gray;
	text-align: left;
	margin-left: 0%;
}

.category_num_border {
	border: 1px outset black;
	border-radius: 10px;
	background-color: #BADA55;
	float: left;
	width: 40%;
}
.category_num {
	font-size: 25px;
	color: black;
	margin-top: 0%;
	margin-bottom: 0%;
}

#index_featured_header {

}